body {
    background-color: salmon;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    position: relative; /* Add positioning context */
    z-index: 1; /* Ensure it's on top */
  }
  
/* Basic Button Styles */
button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Hover Effect */
  button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #ffffff;
  }
  
  /* Active (Clicked) State */
  button:active {
    background-color: #1c6de8;
    border-color: #1c6de8;
  }
  
  /* Disabled State */
  button:disabled {
    background-color: #bdc3c7;
    border-color: #bdc3c7;
    color: #ecf0f1;
    cursor: not-allowed;
  }
  span.counter {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin:auto;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Hover Effect */
  span.counter:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #ffffff;
  }
  
.count-container {
   width:400px;
   margin:0 auto;
}